@keyframes move-background {
  0% {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	50% { 
		-webkit-transform: translate3d(500px, 0px, 0px);
  }
  100% {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  0% {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	50% { 
		-webkit-transform: translate3d(500px, 0px, 0px);
  }
  100% {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	0% {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	50% { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
  }
  100% {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
}
@keyframes fade-in {
  from { opacity: 0;}
  to { opacity: 1;}
}
@-moz-keyframes fade-in {
  from { opacity: 0;}
  to { opacity: 1;}
}
@-webkit-keyframes fade-in {
  from { opacity: 0;}
  to { opacity: 1;}
}
@keyframes wiggle-left {
  0% {
    left: 0px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0px;
  }
}
@-moz-keyframes wiggle-left {
  0% {
    left: 0px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes wiggle-left {
  0% {
    left: 0px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0px;
  }
}
@keyframes wiggle-right {
  0% {
    right: 0px;
  }
  50% {
    right: 5px;
  }
  100% {
    right: 0px;
  }
}
@-moz-keyframes wiggle-right {
  0% {
    right: 0px;
  }
  50% {
    right: 5px;
  }
  100% {
    right: 0px;
  }
}
@-webkit-keyframes wiggle-right {
  0% {
    right: 0px;
  }
  50% {
    right: 5px;
  }
  100% {
    right: 0px;
  }
}




html {
  scroll-behavior: smooth
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
  background: black url("./stars.png") repeat;
  position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  z-index: 0;
}

.twinkling{
  width: 1000vw;
  margin-left: -500vw;
	height: 100%;
	background: transparent url("./twinkling.png") repeat;
  -moz-animation:move-background 30s linear infinite;
  -ms-animation:move-background 30s linear infinite;
  -o-animation:move-background 30s linear infinite;
  -webkit-animation:move-background 30s linear infinite;
  animation:move-background 30s linear infinite;
}
.hamburger {
  cursor: pointer;
  position: fixed;
  z-index: 2;
  top: 3vh;
  left: 3vw;
}

.h-icon {
  background-color: white;
  height: 2px;
  width: 24px;
  margin-bottom: 6px;
}
.ham-show-menu {
  background-color: black;
}
.menu {
  background: white;
  height: 100vh;
  width: 100vw;
  display: none;
}
.show-menu {
  background: white;
  color: white;
  position: fixed;
  display: block;
  z-index: 1;
  -webkit-animation: fade-in 0.5s; 
  -moz-animation: fade-in 0.5s;
  -ms-animation: fade-in 0.5s;
  -o-animation: fade-in 0.5s;
  animation: fade-in 0.5s;
}
.menu-item-wrap {
  margin-top: 30vh;
}
a {
  text-decoration: none;
  color: black;
}
.menu-item {
  color: black;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: calc(100% + 1vw);
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 1vh;
}
.menu-item:hover {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.title {
  padding-top: 22vh;
  padding-left: 10vw;
}
.title-headline {
  position: relative;
  color: white;
  font-size: calc(100% + 5vw);
  font-weight: 100;
}
.title-desc {
  color: white;
  font-size: calc(100% + 2vw);
  letter-spacing: 8px;
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
}

.anchor {
  color: white;
  display:inline-block;
  width:100%;
  height:100%;
  cursor: pointer;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.read-more {
  text-align: center;
  font-size: calc(100% + 0.5vw);
  letter-spacing: 8px;
  cursor: pointer;
}
.nav_wrapper {
  position: fixed;
  width: 99vw;
}
.arrow {
  position: fixed;
  padding: 5px;
  transform: rotate(45deg);
  
}
.left {
  left: 2vw;
  border-bottom: 0.1em solid white;
  border-left: 0.1em solid white;
  -webkit-animation: wiggle-left 1s ease-in-out infinite; 
  -moz-animation: wiggle-left 1s ease-in-out infinite;
  -ms-animation: wiggle-left 1s ease-in-out infinite;
  -o-animation: wiggle-left 1s ease-in-out infinite;
  animation: wiggle-left 1s ease-in-out infinite;
}

.right {
  right: 2vw;
  border-top: 0.1em solid white;
  border-right: 0.1em solid white;
  -webkit-animation: wiggle-right 1s ease-in-out infinite; 
  -moz-animation: wiggle-right 1s ease-in-out infinite;
  -ms-animation: wiggle-right 1s ease-in-out infinite;
  -o-animation: wiggle-right 1s ease-in-out infinite;
  animation: wiggle-right 1s ease-in-out infinite;
}

.content-wrapper {
  padding-left: 10vw;
  color: white;
}
.content {
  padding-top: 15vh;
  height: fit-content;
  width: 75vw;
  font-size: calc(100% + 1vw);
}
.content-header {
  padding-top: 15vh;
  font-weight: 100;
  font-style: italic;
  font-size: calc(100% + 1vw);
  width: 75vw;
}
.back-to-top {
  letter-spacing: 5px;
  text-align: center;
  cursor: pointer;
  margin-left: 10vw;
  margin-top: 5vh;
}
.footer {
  position: absolute;
  width: 100%;
  color: white;
  margin-bottom: 5vh;
}
.footer-item {
  text-align: center;
}
.read-more:target ~ .content {
  -webkit-transform: translateY( 0px);
  transform: translateY( 0px );
}










.carousel {
  position: relative;
  margin: auto;
}

.carousel-open:checked + .carousel-item {
  position: absolute;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#dev:checked ~ .control-1,
#music:checked ~ .control-2,
#car:checked ~ .control-3,
#sport:checked ~ .control-4,
#nerd:checked ~ .control-5
 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}
.arrow-label {
  font-size: calc(40%);
}